In [4]:
import pandas as pd
import numpy as np

In [5]:
df_final=pd.read_csv('bankfinal_data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10,11,12,15,19,20,59,63,75) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_final.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_78,feature_79,Bad_label,tot_high_credit_amt,tot_cur_balance_amt,tot_amt_past_due,tot_creditlimit,tot_cashlimit,total_enq_amt,total_enq_count
0,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,1.0,N,0,2528846125459139765171256290596200000020000009...,2528846588820003759832549017546780000093630000,2.528847e+10,250000420000,168000,3500000.0,18
1,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,1.0,N,0,2528846125459139765171256290596200000020000009...,2528846588820003759832549017546780000093630000,2.528847e+10,250000420000,168000,500000.0,18
2,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,1.0,N,0,2528846125459139765171256290596200000020000009...,2528846588820003759832549017546780000093630000,2.528847e+10,250000420000,168000,50000.0,18
3,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,1.0,N,0,2528846125459139765171256290596200000020000009...,2528846588820003759832549017546780000093630000,2.528847e+10,250000420000,168000,50000.0,18
4,18-Apr-15,1,13-Apr-15,Insignia,13-Apr-15,650.0,2.0,Card Setup,14.0,500000.0,...,1.0,N,0,2528846125459139765171256290596200000020000009...,2528846588820003759832549017546780000093630000,2.528847e+10,250000420000,168000,1000.0,18